# Wi-Fi credentials — multiple networks for fallback
WIFI_SSID_0=
WIFI_PASS_0=
WIFI_SSID_1=
WIFI_PASS_1=
WIFI_SSID_2=
WIFI_PASS_2=

# OpenWeatherMap API key and location
OWM_API_KEY=
OWM_CITY=
OWM_COUNTRY=

# MQTT broker credentials
MQTT_BROKER=
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=
MQTT_CLIENT_ID=ESP32-S3-Rust
MQTT_TOPIC_PREFIX=Display

# NTP server for time synchronisation
NTP_SERVER=de.pool.ntp.org

# OpenWeatherMap API host IP
OWM_HOST=185.199.110.153
